/* ======== Estilos del componente Bienestar ======== */

/* Tarjeta de producto */
.producto-card {
  border: 5px solid white;
  border-radius: 20px;
}

/* Imagen del producto */
.producto-img-container {
  height: 200px;
  padding: 0;
}

.producto-img {
  max-height: 200px;
  width: auto;
  max-width: 200%;
  object-fit: contain;
}

/* Título del producto con límite de líneas */
.card-title {
  min-height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* para Chrome y Safari */
  line-clamp: 2; /* estándar */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Precio del producto */
.precio {
  font-size: 1.8em;
  color: #000000;
}

/* Botón "Agregar" */
.agregar-btn {
  border: 2px solid #E91D62;
  color: #E91D62;
  font-weight: 600;
  border-radius: 25px;
  background-color: white;
}

.agregar-btn:hover {
  background-color: #E91D62;
  color: white;
  transition: 0.3s;
}
